In [1]:
import pandas as pd

In [2]:
batters1 = pd.read_csv('batter_runs.csv')
batters2 = pd.read_csv('C:\\Users\\natem\\University\\Project2-2\\ipl-teampicker\\ipl-teampicker-main\\2024_auction_pool.csv', index_col=0)

In [3]:
def same_person(name1, name2, exact=False):
    if exact:
        return name1 == name2

    same_surname = name1.split(' ')[-1] == name2.split(' ')[-1]
    same_firstname = name1[0] == name2[0]
    
    name1_is_initial = name1.split(' ')[0].isupper()
    name2_is_initial = name2.split(' ')[0].isupper()

    # If neither names are initials, check if the first names are the same
    if not (name1_is_initial or name2_is_initial):
        same_firstname = name1.split(' ')[0].lower() == name2.split(' ')[0].lower()

    return same_surname and same_firstname

In [4]:
from batter_search import get_batter_ids, return_same_names, get_bowler_ids

In [5]:
names = return_same_names('Ravi Kumar', 'batter_runs.csv')
print(names)

['R Vinay Kumar', 'R Kumar']

In [6]:
# Rename players to avoid ambiguity
batters2.loc[batters2['PLAYER'] == 'Steve Smith', 'PLAYER'] = 'SPD Smith'
batters2.loc[batters2['PLAYER'] == 'Harshal Patel', 'PLAYER'] = 'HV Patel'
batters2.loc[batters2['PLAYER'] == 'Vishwanath Pratap Singh', 'PLAYER'] = 'V Pratap Singh'
batters2.loc[batters2['PLAYER'] == 'Shardul Thakur', 'PLAYER'] = 'SN Thakur'
batters2.loc[batters2['PLAYER'] == 'Finn Allen', 'PLAYER'] = 'FH Allen'
batters2.loc[batters2['PLAYER'] == 'Fabian Allen', 'PLAYER'] = 'FA Allen'
batters2.loc[batters2['PLAYER'] == 'Aman Khan', 'PLAYER'] = 'Aman Hakim Khan'
batters2.loc[batters2['PLAYER'] == 'Ravi Kumar', 'PLAYER'] = 'R Kumar'

In [7]:
names = batters2['PLAYER'].tolist()
ids = get_batter_ids(names, 'batter_runs.csv')
print(ids)
print(len(ids))

Exact match found for FH Allen with id 1890
Multiple batters found for Virat Singh
Exact match found for Virat Singh with id 544
Exact match found for Ibrahim Zadran with id 1607
Exact match found for SPD Smith with id 307
Exact match found for Najibullah Zadran with id 952
Exact match found for Shashank Singh with id 590
Exact match found for Mohammad Nabi with id 452
Multiple batters found for Ramandeep Singh
Exact match found for Ramandeep Singh with id 580
Exact match found for Swapnil Singh with id 425
Exact match found for Azmatullah Omarzai with id 2443
Exact match found for Aman Hakim Khan with id 586
Multiple batters found for Ansh Patel
Multiple batters found for Ansh Patel
Multiple batters found for Ansh Patel
Exact match found for Mohit Rathee with id 619
Exact match found for Vivrant Sharma with id 636
Exact match found for HV Patel with id 312
Exact match found for SN Thakur with id 407
Exact match found for FA Allen with id 545
Exact match found for Shivam Sharma with id 382
Exact match found for R Kumar with id 2527
Exact match found for Basil Thampi with id 441
Exact match found for Shivam Mavi with id 473
Exact match found for Fareed Ahmad with id 1608
Exact match found for Mustafizur Rahman with id 480
Exact match found for Lalit Yadav with id 543
Exact match found for Kartik Tyagi with id 524
Exact match found for V Pratap Singh with id 327
Exact match found for Yash Dayal with id 588
[1890 3046   -1   -1   -1  617 1164 1954  381  610  412 1093  418   -1
  618  544   -1 1326   -1  937  601   -1  476   -1 1554  589   -1  548
 1274 1607   97  307   -1   -1  340  346 1065   -1  952   -1   -1  483
  564   -1  590  422   -1  512  510   -1   -1  386   -1  572   -1   -1
   -1  452 2057  573  580  403   -1   -1  425  406 1920 2443  208   -1
   -1   -1   -1   -1   -1   -1   -1   -1   -1   -1 1471   -1   -1   -1
   -1   -1   -1   -1   -1   -1   -1   -1   -1   -1   -1  696  591  402
  566 2621  392  567  467  494  552   -1   -1   -1   -1   -1   -1   -1
   -1   -1   -1   -1   -1   -1   -1   -1   -1  624   -1   -1   -1   -1
   -1  642  268   -1   33   -1   -1 1201 1176   -1   -1   -1  540  398
   -1   -1   -1   -1  586  326 3010 2701   -1   -1   -1   -1   -1   -1
   -1   -1   -1   -1   -1   -1   -1   -1  541  541  619   -1   -1  541
   -1   -1   -1   -1   -1   -1   -1   -1   -1   -1 1076   -1   -1  403
   -1   -1   -1   -1   -1   -1   -1   -1   -1   -1  636   -1 2426  378
   -1  629  368 2127  312  407  542   -1  377  423  450  611  442  430
  389  399  504  587   -1   -1  447   -1   -1  233  545   -1  435  379
   -1  470   -1  489  382 1935 1014  343   -1   -1   -1   -1   -1 3046
   -1   -1   -1   -1   -1   -1   -1   -1   -1   -1   -1 2417   -1   -1
   -1   -1  633  554   -1   -1   -1   -1   33   -1   -1   -1   -1   -1
   -1  419   -1   -1   -1   -1   -1   -1   -1   -1   -1 2527   -1   -1
 1747   -1   -1   -1   -1   -1   -1   -1   -1  584  525  441  537  473
 1928 2490   -1  420  436 2735  369 1608   -1   -1  480  197   -1   -1
 2169  546  543   -1  297   -1   -1  555  469   -1  524  327 1299 1327
 2727   -1   -1   -1  588  599   -1]
329

In [8]:
# Rename names back to original
batters2.loc[batters2['PLAYER'] == 'SPD Smith', 'PLAYER'] = 'Steve Smith'
batters2.loc[batters2['PLAYER'] == 'HV Patel', 'PLAYER'] = 'Harshal Patel'
batters2.loc[batters2['PLAYER'] == 'V Pratap Singh', 'PLAYER'] = 'Vishwanath Pratap Singh'
batters2.loc[batters2['PLAYER'] == 'SN Thakur', 'PLAYER'] = 'Shardul Thakur'
batters2.loc[batters2['PLAYER'] == 'FH Allen', 'PLAYER'] = 'Finn Allen'
batters2.loc[batters2['PLAYER'] == 'FA Allen', 'PLAYER'] = 'Fabian Allen'
batters2.loc[batters2['PLAYER'] == 'Aman Hakim Khan', 'PLAYER'] = 'Aman Khan'
batters2.loc[batters2['PLAYER'] == 'R Kumar', 'PLAYER'] = 'Ravi Kumar'

In [9]:
# Add the player IDs to the dataframe
batters2['batting id'] = ids
batters2.head()

,Unnamed: 0,PLAYER,OverseasIndian,TYPE,Played For Country,Predicted Price,Selling Price,Base Price,Performance,batting id
0,0,Finn Allen,Overseas,Batter,0.0,16480667.0,0.0,7500000.0,0.841418,1890
1,1,Ashutosh Sharma,Indian,All-Rounder,0.0,7400235.5,2000000.0,0.0,0.822751,3046
2,2,Kusal Mendis,Overseas,Wicket-Keeper,0.0,2125319.5,0.0,5000000.0,0.699531,-1
3,3,Rassie Van Der Dussen,Overseas,Batter,0.0,2135125.5,0.0,20000000.0,0.686391,-1
4,4,Samuel Hain,Overseas,Batter,0.0,2127266.2,0.0,5000000.0,0.681846,-1

In [22]:
bowling_ids = get_bowler_ids(names, 'bowler_runs.csv')

Exact match found for Akash Singh with id 430
Exact match found for Ramandeep Singh with id 468
Exact match found for Swapnil Singh with id 324
Exact match found for V Pratap Singh with id 235
Exact match found for Azmatullah Omarzai with id 1820
Exact match found for Kartik Tyagi with id 409
Exact match found for Mohammad Nabi with id 345
Exact match found for Mustafizur Rahman with id 316
Exact match found for SN Thakur with id 306
Multiple bowlers found for Dilshan Madushanka
Exact match found for Yash Dayal with id 455
Exact match found for Shivam Mavi with id 363
Exact match found for HV Patel with id 226
Exact match found for SPD Smith with id 247
Exact match found for FA Allen with id 427
Exact match found for Fareed Ahmad with id 943
Exact match found for Basil Thampi with id 341
Exact match found for Lalit Yadav with id 425
Exact match found for S Midhun with id 391
Exact match found for Vivrant Sharma with id 499
Multiple bowlers found for Virat Singh
Exact match found for Aman Hakim Khan with id 457
Multiple bowlers found for Ansh Patel
Multiple bowlers found for Ansh Patel
Exact match found for Mohit Rathee with id 485
Exact match found for Shashank Singh with id 456
Exact match found for R Kumar with id 1880
Exact match found for Shivam Sharma with id 285

In [23]:
# Add the bowling ids to the dataframe
batters2['bowling id'] = bowling_ids
batters2.head()

,PLAYER,OverseasIndian,TYPE,Played For Country,Predicted Price,Selling Price,Base Price,Performance,batting id,bowling id
0,Abid Mushtaq,Indian,All-Rounder,0.0,2108533.0,2000000.0,0.0,23.067920,-1,-1
1,Akash Singh,Indian,Bowler,0.0,3987720.5,2000000.0,0.0,25.516441,197,430
2,Angkrish Raghuvanshi,Indian,Batter,0.0,2105171.5,2000000.0,0.0,23.067920,-1,-1
3,Anshul Kamboj,Indian,All-Rounder,0.0,2105053.2,2000000.0,0.0,23.067920,-1,-1
4,Arshin Kulkarni,Indian,All-Rounder,0.0,2099252.5,2000000.0,0.0,23.067920,-1,-1

In [24]:
# Save the updated dataframe
batters2.to_csv('2024_auction_pool.csv', index=False)